{% load static %}
<!DOCTYPE html>
<html lang="ka">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>STEP RAILWAY</title>

  <link rel="icon" href="{% static 'images/Icon.png' %}" />
  <link rel="stylesheet" href="{% static 'css/homestyle.css' %}" />
  <link rel="stylesheet" href="{% static 'css/HeaderFooter.css' %}" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
  
  
  <header id="header">
    <div class="header-info">
      <div class="icons">
        <a href="{% url 'index' %}">
          <img class="desktop-icon" src="{% static 'images/HeaderIcon.png' %}" alt="Step Railway icon" />
        </a>
      </div>
      <div>
        
          <a href="{% url 'check_ticket' %}" class="ticket__button">
            ბილეთის შემოწმება/დაბრუნება
          </a>
        
      </div>
    </div>
  </header>

  
  <main class="main">

    
    <div class="top-div">
      <div class="top-div__info text-div__top">
        <h4 data-translate="შეიძინეთ მატარებლის ბილეთები ონლაინ">შეიძინეთ მატარებლის ბილეთები ონლაინ</h4>
        <p data-translate="გისურვებთ ბედნიერ მგზავრობას">გისურვებთ ბედნიერ მგზავრობას</p>
      </div>
    </div>

    
    <div class="bottom-div">
      <div class="bottom-top__div">
        <h4 data-translate="დაჯავშნეთ მატარებლის ბილეთი">დაჯავშნეთ მატარებლის ბილეთი</h4>
        <div class="inputs">
          <form id="myForm">

            
            <div class="input-from">
              <input type="text" class="from" placeholder="საიდან" readonly required />
              <ul class="from-ul"></ul>
            </div>

            
            <div class="input-to">
              <input type="text" class="to" placeholder="სად" readonly required />
              <ul class="to-ul"></ul>
            </div>

            
            <div class="input-date big-input">
              <input type="text" class="date" id="dateInput" placeholder="გამგზავრების თარიღი" required />
            </div>

            
            <div class="passenger-count big-input">
              <input type="number" min="1" max="120" class="count" placeholder="მგზავრების რაოდენობა" required />
            </div>

            
            <button type="submit" class="search-train" data-translate="მატარებლის მოძებნა">
              მატარებლის მოძებნა
            </button>
          </form>
          </div>
        </div>
         </div>
      </div>
    </div>

    
    <div class="ticket-info" id="ticketInfo">
      
    </div>

  </main>
  <div class="container my-5">
  <div class="row align-items-center">
    
    <!-- Картинка слева -->
    <div class="col-md-5 mb-3 mb-md-0">
      <img
        src="{% static 'images/homepage_bottom.png' %}"
        alt="Paris a suitcase and a hat"
        class="img-fluid rounded"
      />
    </div>

    <!-- Контент справа -->
    <div class="col-md-7">
      <h4 data-translate="მატარებლის ბილეთები">მატარებლის ბილეთები</h4>
      <p data-translate="რკინიგზის ბილეთების შესაძენად...">
        რკინიგზის ბილეთების შესაძენად თქვენ დაგჭირდებათ თითოეული
        მგზავრის პირადი ნომერი. გთხოვთ მოამზადოთ ეს ინფორმაცია წინასწარ.
      </p>

      <div class="d-flex flex-wrap gap-3 mt-4">
        <div class="d-flex align-items-center gap-2">
          <img src="{% static 'images/icon 1.png' %}" alt="little icon" class="icon-img"/>
          <p data-translate="შეუზღუდავი შეთავაზებები" class="mb-0">შეუზღუდავი შეთავაზებები</p>
        </div>
        <div class="d-flex align-items-center gap-2">
          <img src="{% static 'images/icon 2.png' %}" alt="little icon" class="icon-img"/>
          <p data-translate="24X7 მხარდაჭერა" class="mb-0">24X7 მხარდაჭერა</p>
        </div>
        <div class="d-flex align-items-center gap-2">
          <img src="{% static 'images/icon 3.png' %}" alt="little icon" class="icon-img"/>
          <p data-translate="100% უსაფრთხო" class="mb-0">100% უსაფრთხო</p>
        </div>
        <div class="d-flex align-items-center gap-2">
          <img src="{% static 'images/icon 4.png' %}" alt="little icon" class="icon-img"/>
          <p data-translate="100% უსაფრთხო გადახდა" class="mb-0">100% უსაფრთხო გადახდა</p>
        </div>
      </div>
    </div>

  </div>
</div>
       

  
  <footer>
    <div class="footer-txt-div">
      <p>© 2023 <a href="https://railway.stepprojects.ge/" target="_blank">Step Railway</a>. 
      <span data-translate="ყველა უფლება დაცულია.">ყველა უფლება დაცულია.</span></p>
    </div>
  </footer>

  
  <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
  <script src="{% static 'js/script.js' %}"></script>
  
</body>
</html>