{% load static %}
<!DOCTYPE html>
<html lang="ka">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>STEP RAILWAY</title>

  <link rel="icon" href="{% static 'images/Icon.png' %}" />
  <link rel="stylesheet" href="{% static 'css/homestyle.css' %}" />
  <link rel="stylesheet" href="{% static 'css/HeaderFooter.css' %}" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css" />
</head>
<body>
  
  <header id="header">
    <div class="header-info">
      <div class="icons">
        <a href="{% url 'index' %}">
          <img class="desktop-icon" src="{% static 'images/HeaderIcon.png' %}" alt="Step Railway icon" />
        </a>
      </div>

      <div>
        <button>
          <a href="{% url 'check_ticket' %}" class="check-ticket__button" data-translate="ბილეთის შემოწმება/დაბრუნება">
            ბილეთის შემოწმება/დაბრუნება
          </a>
        </button>
      </div>
    </div>
  </header>

  <main class="main">
    <div class="top-div">
      <div class="text-div__top">
        <h4 data-translate="შეიძინეთ მატარებლის ბილეთები ონლაინ">შეიძინეთ მატარებლის ბილეთები ონლაინ</h4>
        <p data-translate="გისურვებთ ბედნიერ მგზავრობას">გისურვებთ ბედნიერ მგზავრობას</p>
      </div>
    </div>

    <div class="bottom-div">
      <div class="bottom-top__div">
        <h4 data-translate="დაჯავშნეთ მატარებლის ბილეთი">დაჯავშნეთ მატარებლის ბილეთი</h4>
        <div class="inputs">
          <form id="myForm">
            <!-- FROM INPUT -->
            <div class="input-from">
              <input type="text" class="from" placeholder="საიდან" readonly required />
              <ul class="from-ul"></ul>
            </div>

            <!-- TO INPUT -->
            <div class="input-to">
              <input type="text" class="to" placeholder="სად" readonly required />
              <ul class="to-ul"></ul>
            </div>

            <!-- DATE INPUT -->
            <div class="input-date big-input">
              <input type="text" class="date" id="dateInput" placeholder="გამგზავრების თარიღი" required />
            </div>

            <!-- PASSENGER COUNT -->
            <div class="passenger-count big-input">
              <input type="number" min="1" max="120" class="count" placeholder="მგზავრების რაოდენობა" required />
            </div>

            <!-- SUBMIT BUTTON -->
            <button type="submit" class="search-train" data-translate="მატარებლის მოძებნა">
              მატარებლის მოძებნა
            </button>
          </form>
        </div>
      </div>
    </div>
  </main>

  <footer>
    <div class="footer-txt-div">
      <p>© 2023 <a href="https://railway.stepprojects.ge/" target="_blank">Step Railway</a>. 
      <span data-translate="ყველა უფლება დაცულია.">ყველა უფლება დაცულია.</span></p>
    </div>
  </footer>

  <!-- SCRIPTS -->
  <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
  <script src="{% static 'js/script.js' %}"></script>
</body>
</html>