{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/homestyle.css' %}" />
    <link rel="stylesheet" href="{% static 'css/HeaderFooter.css' %}" />
    <link rel="stylesheet" href="{% static 'css/payment.css'%}" />
  </head>
  <body>
    <header id="header">
      <div class="header-info">
      <div class="icons">
        <a href="{% url 'index' %}">
          <img class="desktop-icon" src="{% static 'images/HeaderIcon.png' %}" alt="Step Railway icon" />
        </a>
      </div>
      <div>
        
          <a href="{% url 'check_ticket' %}" class="ticket__button">
            ბილეთის შემოწმება/დაბრუნება
          </a>
        
      </div>
    </div>
    </header>

    <div class="name-div">
      <p data-translate="გადახდის გვერდი">გადახდის გვერდი</p>
    </div>

    <form class="payment-info">
      <p>
        <i data-translate="სულ გადასახდელი:">სულ გადასახდელი:</i>
        <span id="mustPay"></span>
      </p>

      <div class="card-number">
        <label for="cardNum" data-translate="ბარათის ნომერი*"
          >ბარათის ნომერი*</label
        >
        <input type="text" id="cardNum" placeholder="0123 4567 8901 1234" />
      </div>

      <div class="card-date-cvv">
        <div class="card-date">
          <label for="cardDate" data-translate="მოქმედების ვადა*"
            >მოქმედების ვადა*</label
          >
          <input type="text" id="cardDate" placeholder="MM / YYYY" />
        </div>

        <div class="card-cvv">
          <label for="cardCvv">CVC / CVV</label>
          <input type="text" id="cardCvv" placeholder="CVC / CVV" />
        </div>
      </div>

      <div class="card-owner">
        <label for="cardOwner" data-translate="ბარათის მფლობელი*"
          >ბარათის მფლობელი*</label
        >
        <input type="text" id="cardOwner" placeholder="J.Smith" />
      </div>

      <button type="submit" data-translate="გადახდა">გადახდა</button>
    </form>

    <footer>
      <div class="footer-txt-div">
        <p>
          © 2023
          <a href="https://railway.stepprojects.ge/" target="_blank"
            >Step Railway</a
          >.
          <span data-translate="ყველა უფლება დაცულია."
            >ყველა უფლება დაცულია.</span
          >
        </p>
      </div>
    </footer>
    <script src="{% static 'js/payment.js' %}"></script>
  </body>
</html>
