{% load static %}
<!DOCTYPE html>
<html lang="ka">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>STEP RAILWAY - მატარებლები</title>

  <link rel="stylesheet" href="{% static 'css/homestyle.css' %}">
  <link rel="stylesheet" href="{% static 'css/wantedtrains.css' %}">
</head>
<body>
  
  <header>
    <a href="{% url 'index' %}">მთავარი</a>
  </header>

  
  <main>
    <h2 data-translate="საძიებო მატარებლები">საძიებო მატარებლები</h2>
    <div id="trainTable" class="train-table">
      
    </div>
  </main>

  <footer>
    <p>© 2023 Step Railway. <span data-translate="ყველა უფლება დაცულია.">ყველა უფლება დაცულია.</span></p>
  </footer>

  <script src="{% static 'js/getTrains.js' %}"></script>
</body>
</html>