{% load static %}
<!DOCTYPE html>
<html lang="ka">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>STEP RAILWAY - მატარებლები</title>

  <link rel="stylesheet" href="{% static 'css/homestyle.css' %}">
  <link rel="stylesheet" href="{% static 'css/wantedtrains.css' %}">
</head>
<body>
  
  <header>
    <a href="{% url 'index' %}">მთავარი</a>
  </header>

  
  <main>
     <div class="wrapper-div__wantedTrains" id="wantedTrainShown">
      <div class="page-name">
        <h2 data-translate="აირჩიეთ თვქენთვის სასურველი მატარებელი">
          აირჩიეთ თვქენთვის სასურველი მატარებელი
        </h2>
      </div>

      <div class="wanted-trains" id="wantedTrains">
        <h2 data-translate="მატარებლების ჩამონათვალი">
          მატარებლების ჩამონათვალი
        </h2>
        <div class="table-wrapper">
          <table>
            <thead>
              <tr>
                <th data-translate="მატარებლის სახელი">მატარებლის სახელი</th>
                <th data-translate="გამგზავრება">გამგზავრება</th>
                <th data-translate="ჩასვლა">ჩასვლა</th>
                <th></th>
              </tr>
            </thead>

            <tbody id="trainTable">
            
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </main>

  <footer>
    <p>© 2023 Step Railway. <span data-translate="ყველა უფლება დაცულია.">ყველა უფლება დაცულია.</span></p>
  </footer>

  <script src="{% static 'js/getTrains.js' %}"></script>
</body>
</html>